@import url(https://db.onlinewebfonts.com/c/23a02e8af5ef33a9b496dd524401550f?family=YS+Text+Regular);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select,
textarea {
    vertical-align: middle;
    outline-offset: 0;
}

.AB91ZSIa6MNrLZmFopg_ {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.AjLXlnUz0jB1nZVEJ9Cd {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.Jf2Dza5pkVKwdWzQgkuE {
    display: flex;
    color: #929292;
}

.sXGfOGp3052tq5v26iMz {
    align-items: flex-start;
}

.iwqzmzFnKbnucdOPtuQR {
    align-items: flex-end;
}

.Jf2Dza5pkVKwdWzQgkuE svg:not(:first-child) {
    margin-left: 6px;
}

.TazQcbfK7ExzsD8jN_Ss {
    width: 100%;
}

.TazQcbfK7ExzsD8jN_Ss span:not(:last-child) {
    margin-right: 6px;
}
.F2VH53sHxFm_heWOagro {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.PcLCXXT0T9P0eqN1ggpg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid #CACACA;
    border-radius: 7px;
    min-height: 500px;
    align-items: center;
}

.n4uO9hoXzZXNIv_Z5pku {
    width: 100%;
    display: block;
}

.l5aAt7b4OeoHsutA46vF {
    width: 100%;
}
.chxrXMs2JlFzap1e6MzX {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, minmax(300px, 450px));
    gap: 24px;
}

@media (min-width: 1118px) {
    .chxrXMs2JlFzap1e6MzX {
        grid-auto-flow: column;
        min-width: 970px;
        grid-template-columns: repeat(3, minmax(300px, 450px));
        grid-template-rows: repeat(1, 1fr);
    }
}
.RuUC0trGd4EW5YUyEU2k {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 24px;
}
.pW4M08haiM3U1ALkqrn1 {
    padding: 14px 14px 28px;
    position: relative;
}

@media (min-width: 768px) {
    .pW4M08haiM3U1ALkqrn1 {
        padding: 14px 84px 28px;
    }
}

.m_dY17twB3GYVfEQxPlX {
    padding: 14px;
    border: 1px solid #CACACA;
    border-radius: 7px;
}

.m_dY17twB3GYVfEQxPlX input {
    margin-bottom: 8px;
}

.m_dY17twB3GYVfEQxPlX textarea {
    margin-bottom: 14px;
}

.m_dY17twB3GYVfEQxPlX button {
    margin-top: 14px;
}

.JD75MbuCOKqt5cKUQ6Jd {
    margin-top: 8px;
    font-family: 'YS Text Regular';
    font-size: 12px;
    color: red;
}

.O8R5Ea6AvScVqe0BVMYs {
    z-index: 2;
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 23px);
}

.Vmf_PjYs0tHsqlF1su0F:not(:last-child) {
    margin-bottom: 16px;
}
.eRxvxelz4AGFiqNadpfn {
    margin-top: 24px;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
}

.JzyXg_SxTtABVet5X_Hm {
    margin-top: 14px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BqA93RNpyUx2RdKjBH6y {
    padding:  14px 14px 25px;
    border: 1px solid #CACACA;
    border-radius: 7px;
    word-break: break-all;
}

.BqA93RNpyUx2RdKjBH6y input {
    margin-bottom: 8px;
}

.BqA93RNpyUx2RdKjBH6y textarea {
    margin-bottom: 14px;
}

.BqA93RNpyUx2RdKjBH6y button {
    margin-top: 14px;
}

.dOC6vylGQs2pJ6hf9TzQ {
    margin-top: 14px;
}

.xMy0HDkbMAkPdsFzpKrx {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zjtICGTT0ktPg7c70SE2:not(:last-child) {
    margin-bottom: 16px;
}
